body {
  margin: 0px;
  padding: 0px;
}
body, input { font-size:12px; }
span.partydef { display: block; margin: 5px 0; }
table {
  margin: 100px auto;
}

.graph {
  margin: 20px;
  width:500px;
  height: 500px;
}
td {min-width: 300px;}

p {text-align:right;}
